.section.about .image {
	float: left
}

.section.about .image img {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px
}

@media (max-width: 600px) {
	.section.about .image img {
		width: 80px;
		height: 80px;
		border-radius: 80px;
		-moz-border-radius: 80px;
		-webkit-border-radius: 80px;
		-khtml-border-radius: 80px
	}
}

@media (max-width: 400px) {
	.section.about .image {
		float: none;
		text-align: center
	}

	.section.about .image img {
		width: 100px;
		height: 100px;
		border-radius: 100px;
		-moz-border-radius: 100px;
		-webkit-border-radius: 100px;
		-khtml-border-radius: 100px
	}
}

.section.about .desc {
	margin-left: 130px
}

@media (max-width: 600px) {
	.section.about .desc {
		margin-left: 100px
	}
}

@media (max-width: 400px) {
	.section.about .desc {
		margin-left: 0
	}
}

.info-list {
	/* margin-bottom: 42px */
}

.info-list ul li {
	display: inline-block;
	vertical-align: top;
	width: 32%;
	margin: 12px 0 0
}

@media (max-width: 840px) {
	.info-list ul li {
		width: 48%
	}
}

@media (max-width: 580px) {
	.info-list ul li {
		width: 100%
	}
}

.info-list ul li strong {
	font-weight: 400;
	color: #f26b38;
}

@media (max-width: 840px) {
	.section.resume .cols .col.col-md:first-child {
		margin-bottom: 120px
	}
}

.resume-items .resume-item {
	position: relative;
	padding: 0 30px 60px
}

@media (max-width: 840px) {
	.resume-items .resume-item {
		padding-right: 0
	}
}

.resume-items .resume-item:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	height: 100%;
	background: #303f9f
}

.resume-items .resume-item:first-child {
	padding-top: 0
}

.resume-items .resume-item:last-child {
	padding-bottom: 0;
	margin-top: -1px
}

.resume-items .resume-item:last-child:before {
	display: none
}

.resume-items .resume-item .date {
	position: relative;
	top: -10px;
	margin: 0 0 5px;
	display: inline-block;
	padding: 0 5px;
	height: 20px;
	line-height: 18px;
	font-weight: 500;
	font-size: 11px;
	color: #303f9f;
	border: 1px solid #303f9f
}

.resume-items .resume-item .date:before {
	content: '';
	width: 29px;
	height: 1px;
	position: absolute;
	left: -30px;
	top: 9px;
	background: #303f9f
}

.resume-items .resume-item .name {
	font-weight: 500;
	color: #141414;
	margin: 0 0 15px
}

.resume-items .resume-item p {
	margin: 0
}

.skills ul {
	margin: 0;
	padding: 0;
	list-style: none
}

.skills ul li {
	padding: 5px 0 30px
}

.skills ul li .name {
	font-size: 13px;
	color: #363636;
	font-weight: 400;
	position: relative;
	margin: 0 0 9px
}

.skills ul li .progress {
	display: block;
	height: 3px;
	position: relative;
	width: 100%;
	background: #ddd
}

.skills ul li .progress .percentage {
	left: 0;
	top: 0;
	position: absolute;
	height: 3px;
	width: 0;
	background: #303f9f;
	transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s
}

.skills ul li .progress .percentage .percent {
	position: absolute;
	top: -27px;
	right: 0;
	font-size: 13px;
	color: #363636;
	font-weight: 400
}

.skills ul li:last-child {
	padding-bottom: 0
}

@media (max-width: 400px) {
	.section.service {
		text-align: center
	}
}

.section.contacts .title, .section.service .title {
	margin-bottom: 0
}

.service-items .service-item {
	display: inline-block;
	vertical-align: top;
	width: 28%;
	margin: 50px 4% 0 0;
	text-align: left
}

@media (max-width: 840px) {
	.service-items .service-item {
		width: 45%
	}
}

@media (max-width: 580px) {
	.service-items .service-item {
		width: 100%;
		margin-right: 0
	}
}

@media (max-width: 400px) {
	.service-items .service-item {
		text-align: center
	}
}

.service-items .service-item .icon {
	float: left;
	width: 36px;
	text-align: center;
	font-size: 30px;
	color: #303f9f
}

@media (max-width: 400px) {
	.service-items .service-item .icon {
		float: none;
		display: inline-block;
		vertical-align: middle
	}
}

.service-items .service-item .icon .ion {
	display: block
}

.service-items .service-item .name {
	font-weight: 500;
	font-size: 13px;
	color: #141414;
	margin: 6px 0 0 46px
}

@media (max-width: 400px) {
	.service-items .service-item .name {
		margin: 0 0 0 2px;
		display: inline-block;
		vertical-align: middle
	}
}

.service-items .service-item p {
	margin-bottom: 0
}

.section.works .filters {
	margin-bottom: 30px
}

.section.works .filters input {
	display: none
}

.section.works .filters label {
	display: inline-block;
	vertical-align: top;
	margin-right: 25px;
	font-size: 13px;
	color: #363636;
	cursor: pointer;
	position: relative;
	padding-bottom: 0
}

.section.works .filters label.glitch-effect {
	color: #303f9f
}

@media (max-width: 580px) {
	.section.works .filters label {
		padding-bottom: 15px
	}
}

@media (max-width: 580px) {
	.section.works .filters {
		margin-bottom: 10px
	}
}