* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box
}

html {
	margin-right: 0!important
}

body {
	margin: 0;
	padding: 0;
	border: none;
	font-family: 'Roboto Mono', serif;
	font-size: 13px;
	color: #363636;
	background: #fff;
	letter-spacing: 0;
	font-weight: 400
}

body .section, body footer, body header {
	opacity: 0;
	visibility: hidden;
}

body.loaded .section, body.loaded footer, body.loaded header {
	opacity: 1;
	visibility: visible;
}

ol,ul {
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0
}

li, ol ol, ol ul, ul ol, ul ul {
	margin-bottom: 0;
	/* border-right: red solid; */
}

