/*  LINES */
.container {
	position: relative;
	margin: 30px;
	overflow: hidden;
	background: #fff
}

.container .line {
	content: '';
	position: fixed;
	background: #f26b38;
	z-index: 105
}

.container .line.top {
	left: 0;
	top: 0;
	width: 100%;
	height: 30px
}

.container .line.bottom {
	left: 0;
	top: auto;
	bottom: 0;
	width: 100%;
	height: 30px
}

.container .line.left {
	left: 0;
	top: 0;
	width: 30px;
	height: 100%;
}

.container .line.right {
	left: auto;
	right: 0;
	top: 0;
	width: 30px;
	height: 100%;
}

/* TABLES */

tbody {
	font-size: 16px;
}

th {
	/* text-decoration: underline; */
	color: #f26b38;
	/* border-right: 1px solid black; */
	/* border-left: 1px solid black; */
}



/* TYPE */
h1,h2,h3,h4,h5,h6 {
	font-weight: 500;
	font-family: 'Roboto Mono', serif;
	margin: 0 0 30px;
	color: #141414
}

h1 {
	font-size: 26px
}

h2 {
	font-size: 23px
}

h3 {
	font-size: 20px
}

h4 {
	font-size: 18px
}

h5 {
	font-size: 16px
}

h6 {
	font-size: 14px
}

p {
	font-size: 16px;
	line-height: 23px;
	text-align: justify;
	padding: 0;
	margin: 15px 0;
}

p {}

strong {
	font-weight: 500
}

ol{
	margin-left: 40px;
	margin-top: 15px;
	font-size: 16px;
	list-style-type: decimal-leading-zero;
}

img {
	width: 100%;
}

a {
	color: #363636;
	text-decoration: none;
	opacity: 1;
	transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	outline: 0;
}

a:hover {
	text-decoration: none;
	color: #f26b38;
	transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
}

a.context-link {
	border-bottom: 1px black dashed;
	transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s
}

a.context-link:hover {
	border-bottom: 1px #f26b38 dashed;
	transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s
}

code {
	padding: 2px 4px;
	font-size: 110%;
	color: #f26b38;
	background-color: #f9f2f4;
	border-radius: 4px;
}

li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
	/* border-right: solid red; */
	list-style-type: decimal-leading-zero !important;
	border-left: black 0px solid;
}

pre{
	border: none !important;
	border-left: 5px solid #f26b38 !important;
	padding: 10px !important;
	margin-top: 0px;
	line-height: 1.5;
	margin-left: 2px;
	font-size: 18px;
	overflow-x: auto;
}

.mb-10{
	margin-bottom: 10px !important;
}

.mh-4, .mh-5{
	max-width: 100%;
	width: auto;
}

.mh-4{
	max-height: 410px;
	/* position: sticky; */
}

.mh-5{
	max-height: 800px;
	/* position: sticky; */
}

.center{
	text-align: center;
}

.title.code {
	margin-top: 5px !important;
}

.title_inner.code {
	margin-left: 2px;
	font-size: 14px !important;
	text-transform: none !important;
}


/* Buttons */
.btn, a.btn {
	display: inline-block;
	vertical-align: middle;
	height: 42px;
	line-height: 40px;
	text-align: center;
	color: #363636;
	font-size: 13px;
	background: 0 0;
	border: 1px solid #ddd;
	position: relative;
	overflow: hidden;
	padding: 0 30px;
	cursor: pointer;
	transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s
}

.btn.fill, .btn:hover, a.btn.fill, a.btn:hover {
	color: #fff !important;
	background: #f26b38;
	/* width: 100%; */
	border: 1px solid #f26b38;
}

.task_buttons {
	text-align: center;
	margin-top: 70px;
}

/* Preload */
.preloader {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	text-align: center
}

.preloader .load, .preloader .typed-cursor, .preloader .typed-load {
	color: #f26b38;
	font-size: 12px;
	text-align: center;
}

/* Header */
header {
	position: fixed;
	left: 0;
	top: 30px;
	width: 100%;
	z-index: 100;
	text-align: right;
	background: white;
	opacity: 1;
	visibility: visible;
	transition: all .6s ease 0s;
	-moz-transition: all .6s ease 0s;
	-webkit-transition: all .6s ease 0s;
	-o-transition: all .6s ease 0s;
}

header .head-top {
	padding: 30px 65px 15px;
}

header .head-top .menu-btn {
	position: relative;
	margin: 0 auto;
	width: 26px;
	height: 20px
}

header.active{
	opacity: 1 !important;
	visibility: visible !important;
}

header.active .menu-btn:before {
	opacity: 0
}

header.active .menu-btn:after {
	bottom: 9px !important;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg)
}

header.active .menu-btn span {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg)
}

header.active .head-top .top-menu ul li {
	display: block;
	margin: 30px 0;
}

header.active .head-top .top-menu ul li a.btn {
	display: block;
}

header.active .head-top .top-menu {
	position: fixed;
	top: 100px;
	left: 50%;
	margin-left: -100px;
	width: 200px;
	height: auto;
	text-align: center;
	opacity: 1 !important;
	visibility: visible !important;
}

header .head-top .menu-btn:after,header .head-top .menu-btn:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #141414;
	transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s
}

header .head-top .menu-btn:after {
	top: auto;
	bottom: 0
}

header .head-top .menu-btn span {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 2px;
	background: #141414;
	margin-top: -1px;
	transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s
}

header .head-top .top-menu ul li {
	margin-left: 50px;
	display: inline-block;
	vertical-align: top;
	transition: color .3s ease 0s;
	-moz-transition: color .3s ease 0s;
	-webkit-transition: color .3s ease 0s;
	-o-transition: color .3s ease 0s;
}

header .head-top .top-menu ul li a {
	/* display: block; */
	margin-top: 12px;
	cursor: pointer;
}

header .head-top .top-menu ul li a.lnk {
	display: block;
}

header .head-top .top-menu ul li a.btn {
	margin-top: 0;
	/* display: block; */
}

header .head-top .top-menu ul li.active a,
header .head-top .top-menu ul li.active a.btn{
	 color: #f26b38;
 }

header .head-top .top-menu ul li.active a.btn {
	border-color: #f26b38;
}

/* Section */
.section {
	position: relative;
	padding: 0 80px 150px;
	z-index: 97;
	opacity: 1;
	visibility: visible;
	transition: all .6s ease 0s;
	-moz-transition: all .6s ease 0s;
	-webkit-transition: all .6s ease 0s;
	-o-transition: all .6s ease 0s
}
.section .content {
	position: relative
}
.section .content .title {
	position: relative;
	margin-top: 40px;
	margin-bottom: 0px;
}

.section .content .title.about {
	margin-bottom: 40px;
}
.section .content .title .title_inner{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	position: relative;
	line-height: 30px;
	font-size: 23px;
	padding: 10px;
	color: #fff;
	background: #f26b38;
	text-transform: uppercase;
	/* letter-spacing: -0.96em; */
	transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	/* box-shadow: inset 0 -6px 0 #ede574; */
	-moz-box-shadow: inset 0 -6px 0 #f26b38;
	/* -webkit-box-shadow: inset 0 -6px 0 #fee9be; */
}

.title_inner span.ion {
	font-size: 32px;
	vertical-align: text-top;
}

.section .content .title .title_inner_main{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	position: relative;
	line-height: 18px;
	font-size: 16px;
	color: #141414;
	text-transform: uppercase;
	letter-spacing: .04em;
	transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	box-shadow: inset 0 -6px 0 #ede574;
	-moz-box-shadow: inset 0 -6px 0 #ede574;
	-webkit-box-shadow: inset 0 -6px 0 #ede574;
	-khtml-box-shadow: inset 0 -6px 0 #ede574;
}
.section.started {
	text-align: center;
	padding: 0;
	margin: 0;
	background-size: cover;
	position: relative;
}
.section.started .started-content {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	position: relative
}
.section.started .started-content .h-title {
	font-size: 68px;
	font-family: 'Roboto Mono', monospace;
	color: #141414;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .04em;
	margin: 10px 0 5px
}
.section.started .started-content .h-subtitle,
.section.started .started-content .typed-bread,
.section.started .started-content .typed-subtitle {
	font-size: 13px
}
.section.started .mouse_btn {
	font-size: 24px;
	color: #f26b38;
	text-align: center;
	position: absolute;
	width: 20px;
	height: 40px;
	left: 50%;
	bottom: 80px;
	margin-left: -10px
}
.section.started .mouse_btn .ion {
	position: relative;
	top: 0;
	animation: mouse-anim 1s ease-out 0s infinite
}
.section.about .image {
	float: left
}
.section.about .image img {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
}
.section.works .filters {
	margin-bottom: 30px
}
.section.works .filters input {
	display: none
}
.section.works .filters label {
	display: inline-block;
	vertical-align: top;
	margin-right: 25px;
	font-size: 13px;
	color: #363636;
	cursor: pointer;
	position: relative;
	padding-bottom: 0
}
.section.works .filters label.glitch-effect {
	color: #f26b38;
}

.full-width {
	max-width: 100%!important;
	width: 100%!important
}

.pattern{
	font-size: 32px;
	vertical-align: middle;
	color: #f26b38;
	margin-bottom: 3px;
}

/* Footer */
footer {
	position: fixed;
	bottom: 25px;
	left: 0;
	padding: 15px 60px 30px;
	width: 100%;
	background: #fff;
	z-index: 100;
	opacity: 1;
	visibility: visible;
	transition: all .6s ease 0s;
	-moz-transition: all .6s ease 0s;
	-webkit-transition: all .6s ease 0s;
	-o-transition: all .6s ease 0s
}

footer .copy {
	float: left;
	padding-top: 2px;
	font-size: 11px;
	color: #999
}

footer .soc {
	float: right
}

footer .soc a {
	display: inline-block;
	vertical-align: middle;
	margin-left: 12px
}

footer .soc a .ion {
	font-size: 17px;
	color: #363636;
	transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s
}

footer .soc a:hover .ion {
	color: #f26b38
}

/* Box Items */
.box-items {
	position: relative;
	overflow: hidden;
	margin-left: -3%
}
.box-items .box-item {
	width: 30.33333%;
	margin: 0 0 3% 3%;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.box-items .box-item .image {
	position: relative
}
.box-items .box-item .image a {
	display: block;
	font-size: 0
}
.box-items .box-item .image a img {
	width: 100%;
	height: auto;
	position: relative;
	top: 0
}
.box-items .box-item .image .info {
	text-align: center;
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	padding: 18px;
	transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transform: scale(.5, .5);
	-webkit-transform: scale(.5, .5);
	-moz-transform: scale(.5, .5);
	-o-transform: scale(.5, .5)
}
.box-items .box-item:hover .image .info {
	opacity: .94;
	transform: scale(1,1);
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-o-transform: scale(1,1);
}
.box-items .box-item .image .info .centrize {
	background: #f26b38;
}
.box-items .box-item .image .info .ion {
	color: #fff;
	font-size: 38px;
	display: inline-block;
	transition: all .1s ease-in .4s;
	-moz-transition: all .1s ease-in .4s;
	-webkit-transition: all .1s ease-in .4s;
	-o-transition: all .1s ease-in .4s;
	font-weight: 400
}

.box-items .box-item .desc {
	position: relative;
	padding: 15px 45px 5px
}
.box-items .box-item .desc .name {
	height: 40px;
	display: block;
	color: #363636;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s
}
.box-items .box-item:hover .desc .name {
	color: #f26b38;
}

.date {
	margin: 0 0 10px;
	display: inline-block;
	padding: 0px 10px;
	height: 25px;
	line-height: 22px;
	font-weight: 500;
	font-size: 16px;
	color: #f26b38;
	border: 1px solid #f26b38;
}


/* Category / Filter text */
.category {
	margin: 0 0 10px;
	display: inline-block;
	font-size: 11px;
	color: #363636;
	text-transform: uppercase;
	letter-spacing: .04em;
	box-shadow: inset 0 -6px 0 #ede574;
	-moz-box-shadow: inset 0 -6px 0 #ede574;
	-webkit-box-shadow: inset 0 -6px 0 #ede574;
	-khtml-box-shadow: inset 0 -6px 0 #ede574
}


/* 404 */
.error_404{
	margin-top: 40px;
}